@model IEnumerable<VacationManagmentApplication.Models.MedicalCare>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left:400px; color:#4B164C;">View all medical care records</h1>

<div class="table-responsive">
    <table class="table" style="border-color: #4B164C;">
        <thead>
            <tr>
                <th style="color: #4B164C;">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th style="color: #4B164C;">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th style="color: #4B164C;">
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th style="color: #4B164C;">
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th style="color: #4B164C;">
                    @Html.DisplayNameFor(model => model.InvoicePath)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr class="table-row">
                        <td style="color: #4B164C;">
                        @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td style="color: #4B164C;">
                        @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td style="color: #4B164C;">
                        @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td style="color: #4B164C;">
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td style="color: #4B164C;">
                        @if (!string.IsNullOrEmpty(item.InvoicePath))
                        {
                                    <a href="~/uploads/@item.InvoicePath" target="_blank" style="color:#DD88CF;">View Invoice</a>
                        }
                        else
                        {
                                    <span>No invoice uploaded</span>
                        }
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th {
        background-color: #DD88CF;
        color: #4B164C;
        text-align: center;
        padding: 12px;
        font-size: 16px;
    }

    td {
        text-align: center;
        padding: 12px;
        border: 1px solid #ddd;
    }

    .table-row:hover {
        transform: translateY(-5px);
        background-color: #F8E7F6;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin-top: 20px;
    }
</style>
