@model VacationManagmentApplication.Models.HR

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-4">
    <div class="card shadow-lg" style="background-color: #F8E7F6;">
        <div class="card-header text-white" style="background-color: #4B164C;">
            <h4 class="mb-0" style="margin-left:200px">HR Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Surname)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Age)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Age)</dd>
            </dl>
        </div>
    </div>
    <div class="mt-4">
        <h4 style="color: #4B164C;">Information about free days</h4>
        <div class="alert" style="background-color: #F8E7F6; border-color: #DD88CF; color: #4B164C;">
            <strong style="color: #DD88CF;">First Part:</strong> @Model.GetRemainingFirstPartVacation() days<br />
            <strong style="color: #DD88CF;">Second Part:</strong> @Model.GetRemainingSecondPartVacation() days<br />
            <strong style="color: #DD88CF;">Bonus Days :</strong> @Model.GetRemainingBonusDays() days<br />
            <strong style="color: #DD88CF;">Total Days:</strong> @Model.GetTotalRemainingVacationDays() days
        </div>
    </div>

    <div class="mt-4 text-center">
        <a class="btn btn-primary" style="background-color: #DD88CF; border: none;" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary" style="background-color: #DD88CF;" asp-action="AddNewBonus" asp-controller="BonusDays" asp-route-HRId="@Model.Id">Add Bonus Days</a>
        <a class="btn btn-secondary" style="background-color: #DD88CF;" asp-action="AddNewMedicalCare" asp-controller="MedicalCares" asp-route-HRId="@Model.Id" >Add Medical Care</a>
        <a class="btn btn-secondary" style="background-color: #DD88CF;" asp-action="AddNewVacation" asp-controller="YearlyVacations" asp-route-HRId="@Model.Id">Add Yearly Vacation</a>
    </div>

    <div class="mt-4 text-center">
        <a class="btn btn-dark" asp-action="Index" asp-controller="Employees">View Employees</a>
        <a class="btn btn-dark" asp-action="Index" asp-controller="BonusDays">View All Bonus Requests</a>
        <a class="btn btn-dark" asp-action="Index" asp-controller="MedicalCares">View All Medical Care Requests</a>
        <a class="btn btn-dark" asp-action="Index" asp-controller="YearlyVacations">View All Yearly Vacation Requests</a>
    </div>
</div>
