@model IEnumerable<VacationManagmentApplication.Models.BonusDays>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: #4B164C;">Index</h1>

<table class="table">
    <thead style="background-color: #F8E7F6;">
        <tr>
            <th style="color: #4B164C;">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="color: #4B164C;">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th style="color: #4B164C;">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th style="color: #4B164C;">
                @Html.DisplayNameFor(model => model.HR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color: #F8E7F6;">
        @foreach (var item in Model)
        {
            <tr style="background-color: #F8E7F6;">
                <td style="color: #4B164C;">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td style="color: #4B164C;">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="color: #4B164C;">
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td style="color: #4B164C;">
                    @Html.DisplayFor(modelItem => item.HR.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table th, .table td {
        color: #4B164C;
    }

    .table {
        background-color: #F8E7F6;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(75, 22, 76, 0.3);
    }
</style>
